@@charset "UTF-8";
/*基本色*/
:root{
  --main-color:#FF99CC;
  --accent-color:#;
  --dark-main-color: #;
}

/*基本設定*/
body{
  margin: 0;/*標準搭載の余計な余白を削除*/
  font-family: 'Ubuntu', sans-serif;
}
/*ヘッダー：タイトル等*/
header .container{
  display: flex;
  align-items: center;/*縦方向の中央, displayを書かないと効かない*/
  justify-content: center;/*横方向の中央*/
  width: 100%;
  height: 100vh;/* 画面の高さ＝100vh */
  min-height: 450px; /*最小限の高さ確保*/
  background: no-repeat, fixed;
  background-image: linear-gradient(rgba(255, 102, 204, 0.8), rgba(51, 255, 204, 0.8)), url("image/strawberry4.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

/*header 右：メインタイトル等*/
.containerA{
  width: 58%;
  justify-content: center;/*横方向の中央*/
  margin-left: 12%;
  padding-top: 80px;
}

.titlePhrase{
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

.containerA h1{
  padding: 0 0 80px;
  font-size: 5vw; /*画面の横幅に合わせてフォントサイズ変更：１vw = 1/100 */
  letter-spacing: 0.3rem;
  margin-left: 0.3rem; /*letter-spacingは右側に余白が挿入するため*/
  text-align: center;
  text-shadow: 1px 1px 3px #003;
}

.containerA p{
  margin:10px;
  font-size: 25px;
  text-align: center;
}

.comment{
  font-size: 10px;
}

.AppIcon{
  display: block;
  margin: 0 auto;
}

.containerA img{
  width: 130px;

}

/*.containerA img:hover{
   background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));/*半透明な白色画像を重ねる*/
}*/

/*header 左：メイン画像*/
.containerB{
  width: 42%;
}

.iphoneImage{
  width:70%;
  padding-left: 5%;
}

.bodyA{
  width: 100%;
  height: 50vh;/* 画面の高さ＝100vh */
  color: #666666;
}

.bodyA div{
  text-align: center;
  padding-top: 7%;
}

.bodyA h2{
  font-size: 21px;
}

.bodyA p{
  text-align: center;
  padding-top: 5%;
  font-size: 18px;
}

.bodyA-image{
  height: 50vh;/* 画面の高さ＝100vh */
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url("image/IMG_6832.JPG");/*半透明な白色画像を重ねる*/
  background-position: center;
  background-size: cover;
}

.bodyA-image div{
  height: 30px;
  padding-top: 130px;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 3px #003;
}

/*アプリコンテンツ紹介（動画、グラフ、チャット）*/
.bodyB .container{
  height: 80vh;/* 画面の高さ＝100vh */
  display: flex;/* 横並びFlexbox*/
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  align-content: space-around;
}

.bodyB p{
  margin-top: -50px;
}

.contents{
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
  flex: 1; /*contentsを1:1:1にする*/
}

.contents img{
  width: 55%;
}

/*フッター*/
footer{
  height: 20vh;/* 画面の高さ＝100vh */
  background-color: #FF99CC;
  padding-top: 30px;
  padding-bottom: 15px;
  color: white;
}

.footA{
  margin-top: 20px;
  text-align: center;
}

.footA h2{
  font-size: 13px;
  margin-top: 0;
  padding-top: 25px;
}

.footA p{
  font-size: 12px;
}

.footB{
  text-align: center;
  font-size: 10px;
}

/* SNSアイコン*/
.socialIcons ul{
  display: flex;
  margin: 20px 0 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.socialIcons a{
  margin-right: 8px;
  display: block;
  padding: 0;
  color:white;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px white;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
